# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# Coverage
coverage/

# Build
dist/
build/

# Prisma
server/prisma/migrations/**/migration_lock.toml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
*.test.js.snap
